@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
        @apply text-3xl md:text-4xl font-medium;
    }

    h2{
        @apply text-softGreen text-4xl lg:text-5xl font-medium;
    }
}

@layer components {

    .btn {
        @apply cursor-pointer rounded-full px-6 py-2 duration-200 transition-all ease-in border-black border hover:bg-black hover:text-white hover:border-black;
    }

    .btn-softYellow-hover {
        @apply cursor-pointer rounded-full px-6 py-2 duration-200 transition-all ease-in border border-black hover:bg-softYellow hover:border-softYellow;
    }

    .icon-hover {
        @apply rounded-full w-10 h-10 hover:bg-softYellow hover:border-softYellow duration-200 transition-all border border-black cursor-pointer;
    }

    .btn-hover {
        @apply hover:border-b border-b-black duration-200 transition-all;
    }

    .btn-softGreen-hover {
        @apply hover:-translate-y-2 rounded-full text-sm px-6 py-2 border border-softGreen hover:bg-softGreen hover:text-white hover:border-softGreen text-softGreen duration-200 ease-in uppercase;
    }

    .btn-blur {
        @apply flex pr-4 pl-1 py-1 backdrop-blur-sm bg-white/30 text-white rounded-full items-center space-x-2 hover:-translate-y-0 hover:translate-x-2 md:hover:translate-x-0 md:hover:-translate-y-2;
    }

    .btn-softButter {
        @apply cursor-pointer rounded-full px-6 py-2 duration-200 transition-all ease-in
    }

    .btn-softButter.active {
        @apply bg-softButter border border-black;
    }

    .btn-darkGreen {
        @apply hover:-translate-y-1 rounded-full text-xs px-3 py-2 border-none bg-softGreen text-white ease-in uppercase;
    }

    .btn-softYellow {
        @apply hover:-translate-y-1 cursor-pointer rounded-full text-xs px-3 py-2 ease-in border-none bg-softYellow uppercase;
    }

    .btn-arrow {
        @apply cursor-pointer rounded-full px-5 py-1 duration-200 transition-all ease-in border-black border hover:bg-black hover:text-white hover:border-black;
    }

}

.box-sub-container {
    @apply flex flex-col justify-center items-center md:flex-row space-y-5 md:space-y-0 md:space-x-5;
}

.item-gradient {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b to-transparent from-slate-900 opacity-65 group-hover:from-gray-400 group-hover:to-gray-200 group-hover:opacity-70;
}

.item-gradient-2 {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-t to-transparent from-slate-900 opacity-65 group-hover:from-gray-400 group-hover:to-gray-200 group-hover:opacity-70;
}

.item-text{
    @apply flex flex-col space-y-1 items-start absolute top-8 left-8 text-white font-medium group-hover:text-black;
}

.ficon:hover{
    filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

.hvr::before {
    content: "";
    position: absolute;
    height: 1px;
    border-radius: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    width: 0;
    transition: all .4s ease;
}

.hvr:hover::before {
    visibility: visible;
    width: 100%;
}

* {
    @apply font-sans;
}